<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDWigs</title>
    <link rel="shortcut icon" href="/img/favicon.ico"> 
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>

      <!--Sección: Header principal-->
  <section>
    <header class="mainheader">
      <div class="container mainheader__container">
        <a href="#">
          <img class="mainheader__logo" src="/img/logoddwigs.png" alt="logo ddwigs">
        </a>
        
        <!--Buscador-->
        <div class="search">
          
          <input type="text" placeholder="Search Some Wigs..." class="search__input">
          <button class="search__button">
            <img class="search__logo" src="/img/Recurso 4.png" alt="lupa">
          </button>
          
          <!--Navegador-->  
        </header>
        <nav class="mainnav">
          
          
          <!--Responsive del navegador-->
          <button class="hamburguerbtn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          
          <div class="container mainnav__container">
            <a href="/" class="mainnav__link">Home</a>
            <a href="#" class="mainnav__link">About</a>
            <a href="#" class="mainnav__link">Categories</a>
            <a href="#" class="mainnav__link">Models</a>
            <a href="/shop" class="mainnav__link">Shop</a>
            <a href="#" class="mainnav__link">Contact</a>
          </div>
        </nav>
      </section>


    {{{ body }}}

          <!--Sección: Footer oficial-->
      <section>
        <article class="mainfooter">
          <div class="mainfooter__container">
            <h2>DDWigs ® </h2>
            <img class="mainfooter__image" src="/img/paypal.png" alt="paypal logo">
          </div>
        </article>
      </section>
</body>
</html>