<section class="cart__container1">
    <h2 class="cart__header">Shopping cart</h2>
</section>
<section class="cart__container">
    <div class="cart__list"></div>
    <section class="cart__lastinfo">
        <div class="cart__footer">
            <div class="cart__prize">

                <span class="cart__subtotalinfo">
                    <span class="cart__subtotal">Subtotal </span>$<strong><span class="cart__total">0</span></strong>
                </span>
            </div>
            <div class="cart__subinfototal">
                <p class="cart__subinfo">All shipping, taxes and discounts will be calculated at checkout.</p>
            </div>


            <div class="cart__btns">
                <a href="/shop" target="_self" class="cartix__btn"><span class="cart__bagicon"><i
                            class="fas fa-store-alt"></span></i>Shop</a>
                <a href="/checkout" target="_self" class="cartix__btn1"><span class="cart__bagicon"><i
                            class="fas fa-shopping-bag"></i></span>Checkout</a>
            </div>
        </div>
    </section>

</section>