<h1>Checkout</h1>

<form action="/checkout" method="POST">
    <label>
        Name
        <input placeholder="Name" name="Name" required="true">
    </label>
    <label>
        Surname
        <input placeholder="Surname" name="Surname" required="true">
    </label>
    <button>Send</button>

</form>