<article class="check">
    <!--Mitad izquierda-->
    <section class="checkout-left">

        <div class="checkwrapper">
            <div class="checkcontainer">
                <form action="/checkout" method="POST">
                    <h1>
                        <i class="fas fa-shipping-fast"></i>
                        Shipping Details
                    </h1>
                    {{#if showError}}
                    <section>
                        <h3 class="checkouterror">Oh No! Error!</h3>
                        <p>It looks like something went wrong. Plase try to place the order again</p>
                    </section>
                    {{/if}}


                    <div class="checkname">
                        <div>
                            <label for="fname">Name</label>
                            <input placeholder="Your name..." type="text" name="fname" required="true">
                        </div>
                        <div>
                            <label for="lname">Last name</label>
                            <input placeholder="Your surname..."type="text" name="lname" required="true">
                        </div>
                    </div>
                    <div class="checkstreet">
                        <label for="name">Country</label>
                        <input placeholder="The country you live in..."type="text" name="country" required="true">
                    </div>
                    <div class="checkstreet">
                        <label for="name">Address</label>
                        <input placeholder="The address you live in..."type="text" name="address" required="true">
                    </div>
                    <div class="checkaddress-info">
                        <div>
                            <label for="city">City</label>
                            <input type="text" name="city" required="true">
                        </div>
                        <div>
                            <label for="state">State</label>
                            <input type="text" name="state" required="true">
                        </div>
                        <div>
                            <label for="zip">Zip</label>
                            <input type="number" name="zip" required="true">
                        </div>
                    </div>
                    <h1>
                        <i class="far fa-credit-card"></i> Payment Information
                    </h1>
                    <div class="checkcc-num">
                        <label for="cardnum">Credit Card Class</label>
                        <select name="cardclass">
                            <option>Paypal</option>
                            <option>Visa</option>
                            <option>MasterCard</option>
                            <option>American Express</option>
                        </select>
                    </div>
                    <div class="checkcc-num">
                        <label for="cardnum">Credit Card No.</label>
                        <input placeholder="The 16 digits in the front..."type="number" name="cardnum" required="true">
                    </div>
                    <div class="checkcc-info">
                        <div>
                            <label for="cardnum">Exp</label>
                            <input placeholder="Expiration date..."type="number" name="expire" required="true">
                        </div>
                        <div>
                            <label for="cardnum">CCV</label>
                            <input placeholder="Code in the back..."type="number" name="security" required="true">
                        </div>

                    </div>
                    <div class="checkbtns">
                        <button>Send</button>
                    </div>
                </form>
            </div>
        </div>
</article>