.confirmation__img{
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    padding: 0px 5px;
 
    @media(max-width: 960px){
      &{
          flex-direction: row;
          max-width: 100%;
          height: auto;
          justify-content: center;
      }
    }
}