.confirmation__img{
    margin-top: 20px;
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    padding: 0px 5px;
 
    @media(max-width: 960px){
      &{
          flex-direction: row;
          max-width: 100%;
          height: auto;
      }
    }
}