.mainspecialinfo{
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    padding: 0px 5px;
    font-size: 30px;
    font-family: Luminari;
    margin-top: 20px;
  }
  
  .mainspecialinfo__data{
    margin: 0px auto;
    display: flex;
    display: block;
  }