.mainfooter__container{
    background-color: $primary-color;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    font-family: Luminari;
}

.mainfooter__container h2{
    margin-left: 20px;
}

.mainfooter__image{
height: 50px;
width: auto;
margin: 20px;
}