.product__description{
    //background-color: orchid;
    font-size: 20px;
    width: 100%;
    display: flex;

    @media (max-width: $breakpoint-sm){
       padding: 10px;
    
    } 
}

.product__title{
    color: $primary-color;
}

.product__kk{
    color: #6886c5;
}

.product__price{
    color: #639a67;
}


.product__section{
    //background-color: lightsteelblue;
    display: flex;
    flex-direction: row;

    @media(max-width: $breakpoint-sm){
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            //background-color: midnightblue;
            width: 100%;
            align-items: center;
  
        }
      }

.product__gallery{
    //background-color: lime;
    width: 50%;
    margin-right: 30px;
    @media (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        //background-color: mistyrose;

}
}

.prod-btn{
    width: 40%;
    display: inline-block;
    background-color: $primary-color;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;

    @media (max-width: $breakpoint-sm){
        display: flex;
        background-color: #ffb031 ;
    }
  }
  .prod-btn:hover {
    background-color: #ffb031;
  }

.product__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    //background-color: mistyrose;

    @media (max-width: $breakpoint-sm){
        width: 85%;
        margin: 0px;
        margin-top: 20px;
    }
}

.product-bot{
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    //background-color: olive;
}


.product__gallery{
width: 50%;
margin-left: 50px;
margin-top: 35px;

@media (max-width: $breakpoint-sm){
    width: 85%;
    margin-left: 0px;
    margin-right: 0px;

} 
}
.product__gallerymain{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center; 


}
.product__gallerythumbs{
    display: flex;
    justify-content: space-between;
}
.product__gallerythumb{
    width: 24%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.producti{
    //background-color: mediumaquamarine;
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;

    @media(max-width: $breakpoint-sm){
        &{
            flex-wrap: wrap;
            flex-direction: column;
            background-color: purple;
  
        }
      }
}
.product__returnarrow{
    color: $primary-color;
    margin-right: 13px;
}

.product__return a{
    color: $secondary-color;
    text-decoration: none;
}



