.product__description{
    //color: goldenrod;
    background-color: orchid;
    font-size: 20px;
}

.product__section{
    background-color: lightsteelblue;
}

.product{
    //background-color: lightcoral;
    &--with-options{
        background-color: khaki;
        }
        &__return{
            background-color: honeydew;
            margin-top: 10px;
        }
        &__returnarrow{
            margin-right: 10px;
            color: $secondary-color;
        }
}



