.product__description{
    color: goldenrod;
    background-color: orchid;
    font-size: 30px;
}

.product__section{
    background-color: lightsteelblue;
}

.product{
    //background-color: lightcoral;
    &--with-options{
        background-color: khaki;
        }
}



