.search{
    height: 35px;
    width: 300px;
    display: flex;
    margin-left: auto;

    &__input{
        $font-family: Quicksand;      
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 100%;
        border: 1px solid transparent;
        width: 80%;
        padding: 6px 8px;
        &:focus{
            outline: none;
            box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
        }
        &::placeholder{
            color: lightgray;
        }
    }
    &__button{
        height: 100%;
        width: 20%;
        background-color: $primary-color;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        transition: background-color .3s ease;
        outline: none;
        &:hover{
            background-color: lighten($primary-color, 10%);
            cursor: pointer;
        }
    }

    @media(max-width: $breakpoint-sm){
      &{
          flex-direction: row;
          max-width: 100%;
          height: auto;
          justify-content: center;
      }
    }
}

.search {
    height: 35px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: $breakpoint-sm){
      margin-right: 50px;
      margin-bottom: 10px;
    }

  }
  
  .search__input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100%;
    border: 1px solid transparent;
    width: 80%;
    padding: 6px 8px;
  }
  
  .search__input:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
            box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
  }
  
  .search__input::-webkit-input-placeholder {
    color: lightgray;
  }
  
  .search__input:-ms-input-placeholder {
    color: lightgray;
  }
  
  .search__input::-ms-input-placeholder {
    color: lightgray;
  }
  
  .search__input::placeholder {
    color: lightgray;
  }
  
  .search__button {
    height: 100%;
    width: 20%;
    background-color: #c634b8;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    outline: none;
    
  }
  .search__carrito{
    color: white;
    display: flex;
    margin-left: 20px;
    margin-top: 6px;
    height: 100%;
    width: 20%;
    outline: none;
  }
  
  .search__logo{
    height: 50%;
    width: auto;
  }
  
  .search__button:hover {
    background-color: #ffa239;
    cursor: pointer;
  }
  
  @media(max-width: $breakpoint-sm){
    &{
        flex-direction: row;
        max-width: 100%;
        height: auto;
        
    }
  }