.holis{
    background-color: hotpink;
}
.shopall{
    display: flex;
    flex-direction: row;
}
.shop__aside{
    background-color: indianred;
}
.shop{
    background-color: yellow;
    max-width: 960px;
    //width: 50%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    flex-direction: row;
    justify-content: space-between;

}
.shop__header{
    background-color: lightblue;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: greenyellow;
    @media(max-width: $breakpoint-sm){
        &{
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            padding: 30px 10px;
  
        }
      }
}

.thumb{
    width: 30%;
    background-color: $primary-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;

    @media (max-width: $breakpoint-sm){
      margin-top: 20px;
      width: 100%;
      margin: 0px;
      margin-bottom: 20px;
    }
    &__img{
        width: 100%;
    }
    &__price{
    text-align: center;
    display: flex;
    }
    &__title{
        padding: 0px 10px 0px 10px;
    }
    &__minidescription{
        background-color: yellow;
        padding: 0px 10px 0px 10px;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        background-color: lightseagreen;
        padding: 0px 10px 0px 10px;
    }
    &__link{
        background-color: mediumblue;
        display: flex;
        justify-content: center;
    }
    &__star{
        background-color: pink;
        color: white;
        display: flex;
        margin-top: 21px;
        margin-left: -13px;
    }
    &__button{
        display: inline-block;
        background-color: $secondary-color;
        border-radius: 6px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 12px 30px;
        transition: all .5s;
    
        @media (max-width: $breakpoint-sm){
            display: flex;
            background-color: #ffb031 ;
        }
    }
    &__button:hover{
        background-color: goldenrod;
    }
}
