* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: Quicksand;
  font-size: 20px;
}

.container {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
}

.mainnav {
  background-color: #c634b8;
}

.mainnav__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c634b8;
}

.mainnav__container--mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainnav__container__link {
  background-color: lightgray;
  padding: 5px 7px;
}

.mainnav__container__search {
  margin-left: auto;
}

@media (max-width: 414px) {
  .mainnav__container {
    display: none;
  }
}

.hamburguerbtn {
  background-color: #ffb031;
  width: 50px;
  height: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hamburguerbtn span {
  height: 5px;
  width: 100%;
  background-color: white;
}

@media (max-width: 414px) {
  .hamburguerbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mainnav__link {
  color: #fff;
  text-decoration: none;
  padding: 20px 8px;
  font-size: .8em;
}

.mainnav__link:hover {
  background-color: #34495E;
}

.mainnav__link:nth-child(1) {
  margin-left: -8px;
}

.mainheader {
  background-color: #34495E;
  padding: 10px 0px;
}

.mainheader__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 414px) {
  .mainheader__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainheader__logo {
  width: 100px;
}

@media (max-width: 414px) {
  .mainheader__logo {
    margin-bottom: 20px;
  }
}

.search {
  height: 35px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.search__input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
  border: 1px solid transparent;
  width: 80%;
  padding: 6px 8px;
}

.search__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
          box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
}

.search__input::-webkit-input-placeholder {
  color: lightgray;
}

.search__input:-ms-input-placeholder {
  color: lightgray;
}

.search__input::-ms-input-placeholder {
  color: lightgray;
}

.search__input::placeholder {
  color: lightgray;
}

.search__button {
  height: 100%;
  width: 20%;
  background-color: #c634b8;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  outline: none;
}

.search__button:hover {
  background-color: #d459c8;
  cursor: pointer;
}

@media (max-width: 414px) {
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.search {
  height: 35px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 414px) {
  .search {
    margin-right: 50px;
    margin-bottom: 10px;
  }
}

.search__input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
  border: 1px solid transparent;
  width: 80%;
  padding: 6px 8px;
}

.search__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
  box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
}

.search__input::-webkit-input-placeholder {
  color: lightgray;
}

.search__input:-ms-input-placeholder {
  color: lightgray;
}

.search__input::-ms-input-placeholder {
  color: lightgray;
}

.search__input::placeholder {
  color: lightgray;
}

.search__button {
  height: 100%;
  width: 20%;
  background-color: #c634b8;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  outline: none;
}

.search__carrito {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-top: 6px;
  height: 100%;
  width: 20%;
  outline: none;
}

.search__logo {
  height: 50%;
  width: auto;
}

.search__button:hover {
  background-color: #ffa239;
  cursor: pointer;
}

.mainbanner__1 {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
}

@media (max-width: 960px) {
  .mainbanner__1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    height: auto;
  }
}

.maingallery {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  font-size: 30px;
  font-family: Luminari;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maingallery__photos {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

@media (max-width: 960px) {
  .maingallery__photos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  .maingallery__photos img {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

.maingallery__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  max-width: 960px;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 960px) {
  .maingallery__video {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    margin-left: 0px;
  }
}

.maingallery__video iframe {
  width: 90%;
  height: 90%;
}

.mainspecialinfo {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  font-size: 30px;
  font-family: Luminari;
  margin-top: 20px;
}

.mainspecialinfo__data {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

.mainspecialinfopolaroid {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .mainspecialinfopolaroid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 10px;
  }
}

.polaroid {
  width: 50%;
  background-color: #c634b8;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

@media (max-width: 414px) {
  .polaroid {
    margin-top: 20px;
  }
}

.pola {
  width: 100%;
}

.polacontainer {
  text-align: center;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.propa {
  max-width: 750px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px) {
  .propa {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    height: auto;
  }
}

.mainnewsletter {
  padding: 0;
  margin: 0;
}

.mainnewsletter__container {
  background-color: #34495E;
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  margin-top: 60px;
  margin-bottom: 50px;
}

@media (max-width: 414px) {
  .mainnewsletter__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.box {
  float: left;
  margin: 20px 10px 20px 20px;
  width: 80%;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-size: 23px;
  font-family: Luminari;
  text-align: left;
  padding: 20px 0;
}

.box p {
  text-align: left;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.tbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.tbox input {
  border: none;
  width: 45%;
  font-size: 15px;
  padding: 10px 20px;
  outline: none;
}

@media (max-width: 414px) {
  .tbox input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    text-decoration: none;
  }
}

.tbox a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 8.5%;
  background-color: #c634b8;
  padding: 7px 20px;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.tbox a.btn:hover {
  background-color: #ffb031;
}

@media (max-width: 960px) {
  .tbox a.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    text-decoration: none;
  }
}

.box span {
  color: white;
  font-size: 16px;
}

.news-image {
  top: 50%;
  right: 20px;
  height: 200px;
  width: auto;
  margin-top: 70px;
  margin-right: 20px;
}

@media (max-width: 414px) {
  .news-image {
    height: 220px;
    width: 200px;
    margin-bottom: 30px;
  }
}

.mainfooter__container {
  background-color: #c634b8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: Luminari;
}

.mainfooter__container h2 {
  margin-left: 20px;
}

.mainfooter__image {
  height: 50px;
  width: auto;
  margin: 20px;
}

.mainspecs {
  position: relative;
}

.mainspecs__img {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  margin-bottom: 50px;
}

@media (max-width: 960px) {
  .mainspecs__img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    height: auto;
  }
}

.mainspecs__list {
  position: absolute;
  color: white;
  left: 50%;
  top: 50px;
}

@media (max-width: 414px) {
  .mainspecs__list {
    color: white;
    font-size: 13px;
    left: 34%;
    top: -5%;
  }
}

.mainshop {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  margin-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .mainshop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.galery {
  width: 50%;
}

@media (max-width: 414px) {
  .galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.galery__main {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.galery__thumbs {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 80px;
}

.galery__thumb {
  width: 24%;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.galery__thumb--1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-color: purple;
}

.galery__thumb--2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-color: lightgreen;
}

.galery__thumb--3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-color: palevioletred;
}

.galery__thumb--4 {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-color: gray;
}

.galery__thumb--active {
  padding: 5px;
  outline: none;
  -webkit-box-shadow: 0px 0px 18px #c634b8;
          box-shadow: 0px 0px 18px #c634b8;
}

@media (max-width: 414px) {
  .galery__thumb--active {
    -webkit-box-shadow: 0px 0px 18px #c634b8;
            box-shadow: 0px 0px 18px #c634b8;
    border: 0.5px solid wheat;
  }
}

.product {
  width: 50%;
}

/* Right Column */
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
  margin-left: 20px;
}

.product-description span {
  font-size: 18px;
  color: #34495E;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 414px) {
  .product-description span {
    color: #34495E;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #c634b8;
  letter-spacing: -2px;
}

@media (max-width: 414px) {
  .product-description h1 {
    color: #ffb031;
  }
}

.product-description p {
  font-size: 17px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

@media (max-width: 414px) {
  .product-description p {
    font-size: 18px;
  }
}

/* Product Configuration */
.product-color span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

/* Product Price */
.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #c634b8;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 414px) {
  .cart-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffb031;
  }
}

.cart-btn:hover {
  background-color: #ffb031;
}

/* Responsive */
@media (max-width: 414px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 414px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.product__description {
  background-color: orchid;
  font-size: 20px;
}

.product__section {
  background-color: lightsteelblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__gallery {
  background-color: lime;
}

@media (max-width: 414px) {
  .product__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__info {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

.product__gallery {
  width: 50%;
  margin-left: 50px;
  margin-top: 35px;
}

.product__gallerymain {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product__gallerythumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__gallerythumb {
  width: 24%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product__gallerythumb--active {
  border: 10px solid lightcoral;
  padding: 10px;
}

.producti {
  background-color: mediumaquamarine;
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .producti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    height: auto;
  }
}

.producti__return {
  background-color: honeydew;
  margin-top: 10px;
}

.producti__returnarrow {
  margin-right: 10px;
  color: #34495E;
}

.holis {
  background-color: hotpink;
}

.shopall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: lightskyblue;
}

@media (max-width: 960px) {
  .shopall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    height: auto;
  }
}

.shop__aside {
  background-color: indianred;
}

.shop {
  background-color: yellow;
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__header {
  background-color: lightblue;
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: greenyellow;
}

@media (max-width: 414px) {
  .productList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
}

.thumb {
  width: 30%;
  background-color: #c634b8;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

@media (max-width: 414px) {
  .thumb {
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
  }
}

.thumb__img {
  width: 100%;
}

.thumb__price {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumb__title {
  padding: 0px 10px 0px 10px;
}

.thumb__minidescription {
  background-color: yellow;
  padding: 0px 10px 0px 10px;
}

.thumb__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lightseagreen;
  padding: 0px 10px 0px 10px;
}

.thumb__link {
  background-color: mediumblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumb__star {
  background-color: pink;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  margin-left: -13px;
}

.thumb__button {
  display: inline-block;
  background-color: #34495E;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 414px) {
  .thumb__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffb031;
  }
}

.thumb__button:hover {
  background-color: goldenrod;
}
/*# sourceMappingURL=main.css.map */