$secondary-color: #34495E;
$primary-color: #c634b8;
$font-family: Quicksand;
$font-size: 20px;

$breakpoint-sm: 414px;

*{
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    font-family: $font-family;
    font-size: $font-size;

}

.container{
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    padding: 0px 5px;
}

@import 'mainnav';
@import 'mainheader';
@import 'search';
@import 'mainbanner';
@import 'maingallery';
@import 'mainspecialinfo';
@import 'mainpolaroid';
@import 'mainpropaganda';
@import 'mainnewsletter';
@import 'mainfooter';
@import 'mainspecs';
@import 'mainshop';
@import 'product';
@import 'shop';